body {
  color: white;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.left {
  padding: 10px 20% 10px 5%;
  text-align: left;
  float: left;
  margin: 5px 5px 5px 0;
}

.right {
  padding: 10px 5% 10px 20%;
  text-align: right;
  float: right;
  margin: 5px 0 5px 5px;
}

img {
  display: block;
  border: 5px solid #5c0020;
}

/* 
div {
  border: 3px solid red;
}
*/

.il {
  float: left;
}

.ir {
  float: right;
}

.sideboxl {
	width: 300px;
	font-size: 1.25em;
	float: right;
	border-left: 15px #770000 solid;
	padding: 0.5em 1em;
	color: #aaffff;
	margin: 1 em;
	background-color: #000033;
}