body {
  color: white;
  background-color: #16000e;
}

.left {
  padding: 10px 20% 10px 5%;
  text-align: left;
  float: left;
  margin: 5px 5px 5px 0;
}

.right {
  padding: 10px 5% 10px 20%;
  text-align: right;
  float: right;
  margin: 5px 0 5px 5px;
}

img {
  display: block;
  border: 5px solid #5c0020;
}

/* 
div {
  border: 3px solid red;
}
*/

.il {
  float: left;
}

.ir {
  float: right;
}

.sideboxl {
	width: 300px;
	font-size: 1.25em;
	float: right;
	border-left: 15px #770000 solid;
	padding: 0.5em 1em;
	color: #aaffff;
	margin: 1 em;
	background-color: #000033;
}