body {
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
    color: midnightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main {
    margin: 0 auto;
    width: 40%;
    min-width: 300px;
}

h1 {
    background-color: midnightblue;
    color: cornflowerblue;
    font-size: 50px;
    margin: 0;
    padding: 30px;
    text-align: center;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 20px;
}