body {
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
    color: midnightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    background-color: midnightblue;
    color: cornflowerblue;
    font-size: 50px;
    margin: 0;
    padding: 30px;
    text-align: center;
}

.simpletext {
    font-family: initial;

}