body {
    background-color: aliceblue;
    margin: 0;
}

h1 {
    background-color: blue;
    margin: 0;
}

.banner {
    background-color: blueviolet;
    height: 20vh;
    min-height: 100px;
    text-align: center;
    font-size: 40px;
    padding: 15px 0 15px 0;
}

.boxtest {
    margin: 0 auto 0 auto;
    border: 3px solid red;
    text-align: left;
    width: calc(100% - 250px);
}