body {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #4d2400;
    background: rgb(0, 166, 255);
    background: linear-gradient(90deg, rgb(0, 166, 255) 0%, rgb(14, 199, 255) 50%, rgb(32, 166, 255) 100%);
    margin: 0;
    padding: 0;
}

#journal {
    background: rgb(0, 166, 255);
    padding: 5px;
    width: 40%;
    min-height: 150px;
    margin: 0 30%;
    border-radius: 15px;
    border: 5px double rgb(0, 153, 218);
}

h1 {
    font-size: 40px;
    margin: 10px;
}

h2 {
    font-size: 20px;
    margin: 5px;
}

p {
    margin: 7px;
    font-size: 20px;
}

button {
    background: rgb(0, 166, 255);
    margin: 10px 3px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #4d2400;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid rgb(0, 153, 218);
}

button:hover {
    color: #d2feff;
    border: 2px solid #d2feff;
}