body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg,
    rgb(60, 0, 120) 0%,
    rgb(120, 0, 60) 100%
    );
}

#score {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.75);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(-90deg,
    rgb(120, 0, 240) 0%,
    rgb(240, 0, 120) 100%
    );
}

button:hover{
    border: 2px solid rgba(0, 0, 0, 0.75);
    background: linear-gradient(-90deg,
    rgb(60, 0, 120) 0%,
    rgb(120, 0, 60) 100%
    );
    color:white;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    padding: 7px;
    border-radius: 20px;
    border: 7px double rgb(120, 0, 60);
    background-color:rgb(100, 0, 50);
}

li {
    transition: border 0.75s;
    list-style: none;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color:rgb(98, 0, 49);
}

li:hover {
    transition: border 0.01s;
    border: 4px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.shake {
    animation: shake 0.1s;
}
.pop {
    animation: pop 0.25s;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}